

<section>

  <div>

    <h2 class="header-text">Button States</h2>

    <div class="gradient-line"></div>

  </div>

  <div class="container-1">

    <div class="inner-container-1">

      <div class="circle default"></div>

      <h3>Default State</h3>

    </div>

    <div class="row">
      <app-button>
        Primary Default
      </app-button>

      <app-button buttonColorType="success">
        Success Default
      </app-button>

      <app-button buttonColorType="warning">
        Warning Default
      </app-button>
    </div>

  </div>

  <div class="container-1 container-2">

    <div class="inner-container-1">

      <div class="circle hovered"></div>

      <h3>Hovered State</h3>

    </div>

    <div class="row">
      <app-button>
        Primary Hovered
      </app-button>

      <app-button buttonColorType="success">
        Success Hovered
      </app-button>

      <app-button buttonColorType="warning">
        Warning Hovered
      </app-button>
    </div>

  </div>

   <div class="container-1 container-2">

    <div class="inner-container-1">

      <div class="circle loading"></div>

      <h3>Loading State</h3>

    </div>

    <div class="row">
      <app-button [isLoading]="true">
        Loading...
      </app-button>

      <app-button [isLoading]="true" buttonColorType="success">
        Processing...
      </app-button>

      <app-button [isLoading]="true" buttonColorType="warning">
        Sending...
      </app-button>
    </div>

  </div>

  <div></div>
  <div></div>
</section>


<section></section>
<section></section>