$primary: #0EA5E9;
$primary-hover: #0284C7;
$success: #22C55E;
$success-hover: #16A34A;
$warning: #F59E0B;
$warning-hover: #D97706;

@mixin font-inter {
    font-family: 'Inter', sans-serif; //რატომ მჭირდება ამის აქ მითითება? /////
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

button {
    width: 388.66px;
    height: 56px;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
    background-color: $primary;
    box-shadow: 0px 10px 15px 0px #00000010, 0px 4px 6px 0px #00000010;
    text-align: center;
    @include font-inter;

    &.success {
        background-color: $success;
    }

    &.warning {
        background-color: $warning;
    }
}